/* Universal selectors */

* {
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
}

/*div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/

/* Styling of header and content inside header */
header {
  text-align: center;
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
  background:  linear-gradient(#F5B312 1% , transparent 50%) ,
               linear-gradient(0deg, #6C0F26 1%, transparent 30%),
               url("../img/redskins-helmet.jpg") no-repeat center/cover;
}

nav ul li {
  display: inline;
  text-decoration: none !important;
}


header .gold {
 color: gold;
}

header .burgundy {
 color: #6C0F26;
}

ul li {
  display: inline-block;
  background-color: gold;
  border: 2px solid #6C0F26;
}


/* Styling primary and secondary content on main page */

.primary-content {
  height: 750px;
}

.primary-content, .secondary-content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.secondary-content {
  height: 200px;
}

.player-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.second-player-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Divs with pictures primary-content */

.linemen-div {
  background:  linear-gradient(#fff, transparent),
               linear-gradient(0deg, #6C0F26, transparent 30%),
               url("../img/Russ-Grim.jpg") no-repeat center/cover;
  width: 200px;
  height: 250px;
  margin: 0 10px;
}

.quarter-back-div {
  background: linear-gradient(#fff, transparent),
              linear-gradient(0deg, #6C0F26, transparent 30%),
              url("../img/Sonny.jpg") no-repeat top/cover;
  width: 200px;
  height: 250px;
  margin: 0 10px;
  margin-top: 50px;
}

.running-back-div {
  background: linear-gradient(#fff, transparent),
               linear-gradient(0deg, #6C0F26, transparent 30%),

  url("../img/John-Riggins.jpg") no-repeat top/cover;
  width: 200px;
  height: 250px;
  margin: 0 10px;
}

.defense-player-div {
  background: linear-gradient(#fff, transparent),
              linear-gradient(0deg, #6C0F26, transparent 30%),
              url("../img/Darrel-Green.jpg") no-repeat top/cover;
  width: 200px;
  height: 250px;
  margin-top: 15px;
  margin-left: 10px;
}

.receiver-div {
  background: linear-gradient(#fff, transparent),
              linear-gradient(0deg, #6C0F26, transparent 30%),
              url('../img/Artmonk.jpg') no-repeat top/cover;
  width: 200px;
  height: 250px;
  margin-top: 15px;
  margin-right: 10px;
}


/* classes/elements used over multiple elements */

.border {
  border-top: 2px solid gold;
}

a {
 text-decoration: none !important;
 color: #000;
}

.anchor > a {
  color: #fff;
  padding: 10px;
  padding-top: 200px;

  display: block;
}
.opacity {
  opacity: 0.9;
}

.box-shadow {
  box-shadow: 5px 4px 20px 5px #000;
}
/* footer and bottom half of page */

footer {
  width: 100%;
  text-align: center;
}

/*
.group:after {
  content: "";
  display: table;
  clear: both;
}*/
